<!DOCTYPE html>
<html lang="en-US" ng-app="myApp" ng-controller="mainController">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Jay Shin</title>
  <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="bubble.css"/>  
  <script src="https://code.angularjs.org/1.3.0-rc.1/angular.js"></script>
  <script src="https://code.angularjs.org/1.3.0-rc.1/angular-messages.min.js"></script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
</head>

<body>
  <div class="nav-container" id="begin-sec">
    <div class="nav" id="hid-nav">
      <a onclick="func('proj-sec')"><span>💻</span></a>
      <a onclick="func('ex-sec')"><span>🛠️</span></a>
    </div>
    <div class="nav">
      <a onclick="func('begin-sec')"><img class="main-logo" src="sources/shin-jay.png"/></a>
    </div>
    <div class="nav" id="hid-nav">
      <a onclick="func('skill-sec')"><span>🧠</span></a>
      <a onclick="func('course-sec')"><span>🎓</span></a>
    </div>
  </div>
  
  <div style="margin-top:0px;" class="contact-body">
    <div class="profile">
        <br/>
      <img class="headshot" src="bitmoji.png"/>
      <p><b>Jay Shin</b></p>
      <p>Land Grant Scholar & Computer Science and Engineering @ Ohio State '24</p>
      <ul class="links" style="margin-top: 10px;">
        <li class="image-smaller">
          <a target="_blank" href="https://www.linkedin.com/in/jay-shin-012724230/">
            <img src="sources/linkedin.png"/>
          </a>
        </li>
        <li class="image-smaller">
          <a target="_blank" href="https://www.github.com/shayjin">
            <img src="sources/github.png"/>
          </a>
        </li>
        <!--
        <li class="image-smaller">
          <a target="_blank" href="https://www.instagram.com/shay_0419">
            <img src="sources/instagram.png"/>
          </a>
        </li>-->
        <li class="image-smaller">
          <a target="_blank" href="https://soundcloud.com/ercfminecraftboi">
            <img src="sources/soundcloud.png"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="profile2">
            <!---
      <p>
        Hello, my name is Jay Shin. I am currently a 2nd-year Land Grant Scholar at <a href="https://www.osu.edu/">The Ohio State University</a>, 
            studying <a href="https://cse.osu.edu/">Computer Science and Engineering</a> for a Bachelor's Degree.
            <br/><br/> 
            My education at Ohio State has included a rigorious mathematical background with in depth design experience. At Ohio State, I work as a 
            Teaching Assistant for an Intro Python Programming course. Outside of school, I enjoy hanging out with friends,
            composing music, freestyle rapping, playing fingerstyle guitar, and playing Overwatch and KartRider Rush+.  
      </p>
        <p class="bubble" style="margin-bottom:0px;" >
          Connect with me on {{ bubbleMessage }} !
        </p>
      -->
    </div>
  </div>
<br>
<br>
  <h3 class="title" id="proj-sec" style="margin-top:-10px;">💻 Projects 💻</h3>

  <div class="proj">
    <ul>
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/sa.png" />
          <p class="img__description"><br>
            <a target="_blank" href="SortingAlgorhithms.html" style="font-size: 1.3vw;">
              <b class="proj-title">🆕 Sorting Algorhithm Visualizer 🆕</b>
            </a><br>
            Tools Used: 
            <img src="sources/skills/js.png"/>
            <img src="sources/skills/html.png"/>
            <img src="sources/skills/css.png"/><br><br>
            <b>Descriptoin: </b><br/>
            • A sorting algorithm visualizer created with ONLY JavaScript.<br>
            • Developed algorithms to implement animations on a web browser.<br>
            • Includes: <br/>
             - Heap Sort<br>
            - Merge Sort<br>
            - Quick Sort<br>
            - Insertion Sort<br>
            - Selection Sort<br><br>
            <a target="_blank" href="SortingAlgorhithms.html"><img class="link" src="sources/link.png"></a><br>
          </p>    
        </div>
        🆕 Sorting Algorhithm Visualizer 🆕<br><br>
      </li>
      
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/ers.png" />
          <p class="img__description" ><br/>
            <a target="_blank" href="https://github.com/shayjin/egyption-rat-screw" style="font-size: 1.3vw;">
              <b class="proj-title">Egyptian Rat Screw 🃏</b>
            </a><br>
            Tools Used: 
            <img src="sources/skills/python.png"/><br/><br/>
            <b>Descriptoin: </b><br/>
            • Created ERS with Python's PyGame Framework.<br/>
            • Considered all possible cases of dealing, attacking, defending, slapping, incorrect slapping (100+ cases).<br/><br/>
            <b>Features: </b><br/>
            • <a style="color:blue" href="https://bicyclecards.com/how-to-play/egyptian-rat-screw/">What is ERS?</a><br>
            • Not all slap cases are included to make the game better.<br>
            • Implemented a penalty to prevent slapping at wrong times.<br>
            • PC players have different skill levels.<br>
            • Developed an algorithm where PC players compete can against each other based on their skill levels to produce varying slap reaction times every time.<br/>
            <a target="_blank" href="https://github.com/shayjin/ers"><img class="link" src="sources/link.png"></a><br/>
          </p>        
        </div>
        Egyptian Rat Screw 🃏<br><br>
      </li>
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/gomoku.png" />
          <p class="img__description"><br>

            <a target="_blank" href="https://github.com/shayjin/python-gomoku" style="font-size: 1.3vw;">
              <b style="font-size: 15px;">Gomoku 🎴</b>
            </a><br>

            

            Tools Used: 
            <img src="sources/skills/python.png"/>

            <br/><br/>

            <b>Description: </b><br/>
            • Gomoku created with Python's PyGame Framework.
            <br/><br/>

            <b>Features: </b><br/>
            • Implemented a 1P mode to play against PC and a 2P mode. <br/>
            • First player to have unbroken chain of 5 stones wins. <br/>

            
            <br/>
            <a target="_blank" href="https://github.com/shayjin/python-gomoku">
              <img class="link" src="sources/link.png">
            </a>
          </p>
        </div>
          Gomoku 🎴

        <br/>
        <br/>

      </li>
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/todolist.PNG" />
          <p class="img__description"><br>
            <a target="_blank" href="todolist.html" style="font-size: 1.3vw;">
              <b class="proj-title">Dynamic To-Do List 📝</b>
            </a><br>
            Tools Used: 
            <img src="sources/ajs.png"/>
            <img src="sources/skills/js.png"/>
            <img src="sources/skills/html.png"/>
            <img src="sources/skills/css.png"/><br><br>
            <b>Descriptoin: </b><br/>
            • A simple AngularJS to-do list app.<br>
            • Was created while practicing AngularJS for internship.<br><br>
            <a target="_blank" href="todolist.html"><img class="link" src="sources/link.png"></a><br>
          </p>    
        </div>
        Dynamic To-Do List 📝<br><br>
      </li>
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/ror.PNG" />
          <p class="img__description">

            <br/>

            <a target="_blank" href="https://github.com/shayjin/CSE3901/tree/main/Project%206%20-%20Peer%20Evaluation%20Tool" style="font-size: 1.3vw;">
              <b class="proj-title">Peer Evaluation Tool 🤷</b>
            </a>

            <br/>

            Tools Used: 
            <img src="sources/ruby.png"/>
            <img src="sources/rails.png"/>
            <img src="sources/skills/html.png"/>
            <img src="sources/skills/css.png"/>
            <br/><br/>

            <b>Description: </b><br/>
            • CSE 3901 - Project 6 <br/>
            • A Rails app that allows users to give feedback on their classmates. <br/>

            <br>

            <b> Features: </b><br/>
            • Users can sign up, log in, and log out. <br/>
            • All users can provide and edit feedbacks to their classmates. <br/>
            • Students can view feedbacks they gave and recieved from others. <br/>
            • Professors can view and edit rosters for their classes. <br/>
            • Professors can view all activities made by students. <br/>
            
            <br/>
            <a target="_blank" href="https://github.com/shayjin/CSE3901/tree/main/Project%206%20-%20Peer%20Evaluation%20Tool">
              <img class="link" src="sources/link.png">
            </a>
          </p>
        </div>
        Peer Evaluation Tool 🤷

        <br/>
        <br/>

      </li>
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/currency.png"/>
          <p class="img__description"><br>
            <a target="_blank" href="https://github.com/shayjin/web-scraper" style="font-size: 1.3vw;">
              <b class="proj-title">Currency Calculator 💸</b>
            </a><br>
            Tools Used: 
            <img src="sources/skills/python.png"/><br><br>
            <b>Descriptoin: </b><br>
            • Created a currency calculator in Python.<br>
            • Web scraped live data in 45 different currencies with Python's BeautifulSoup Framework.<br>
            • Implemented a friendly GUI with Python's Tkinter Framework.<br>
            • Created for practice purposes.<br><br>
            <a target="_blank" href="https://github.com/shayjin/web-scraper"><img class="link" src="sources/link.png"></a><br>
          </p>        
        </div>
        Currency Calculator 💸<br><br>
      </li>
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/escape-room-room.png" />
          <p class="img__description">

            <br/>

            <a target="_blank" href="https://u.osu.edu/feh2128" style="font-size: 1.3vw;">
              <b class="proj-title">Escape Room 🔓</b>
            </a>

            <br/>

            Tools Used: 
            <img src="sources/skills/arduino.jpeg"/>
            <img src="sources/skills/solidworks.png"/>
            
            <br/><br/>

            <b>Description: </b><br/>
            • Honors Engineering 2 - Semester Project                      <br/>
            • A virtual escape room created w/ mostly Ardunio & SOLIDWORKS. <br/>
            • Wrote a written report and presented to 50+ audiences.
            <br/>
            • Collaborated with Honda's intern, 
            Bethany Jackson.
            <br/><br/>
            <b>Features: </b>

            <br/>
            • Implemented simple Ardunio games and their electrical diagrams.
            <br/>
            • Designed and developed room rendering, game devices, and furnitures in SOLIDWORKS.
            <br/>
            • Designed the overall storyline and clues.
            <br/><br/>

            <a target="_blank" href="https://u.osu.edu/feh2128">
              <img class="link" src="sources/link.png">
            </a>

          </p>
        </div>

        Escape Room 🔓

        <br/><br/>
      </li>
      <li>
        <div class="img__wrap">
          <img class="teul" src="sources/memory-tile.png" />
          <p class="img__description">

            <br/>

            <a target="_blank" href="https://u.osu.edu/sdp2020bcm1240l/" style="font-size: 1.3vw;">
              <b class="proj-title">Tiles 🔶</b>
            </a>

            <br/>

            Tools Used: 

            <img src="sources/skills/cpp.png"/>

              <br/><br/>

              <b>Description: </b>
              
              <br/>
              • Honors Engineering 1 - Software Development Final Project
              <br/>
              • A simple C++ video game created with Ohio State's Proteous Simulator that prompts users to repeat completely random patterns shown on 6 rectangles.
              <br/>
              • Collaborated with JPMC's IB Fellow, Alberto Casas.
              <br/><br/>
              <b>Features: </b><br/>
              • Game generates completely random patterns on 6 squares.<br/>
              • If user repeats pattern properly, it will move on to next level.<br/>
              • Statistics are saved and can be viewed in the main menu. <br/><br/>
              
              <a target="_blank" href="https://u.osu.edu/sdp2020bcm1240l/">
                <img class="link" src="sources/link.png">
              </a>

          </p>
        </div>

        Tiles 🔶

        <br/><br/>

      </li>
    </ul>
  </div>
  
  <h3 class="title" id="ex-sec">🛠️ Experiences 🛠️</h3>
  <div class="resume-body">
    <ul>
        <li>
          <img class="company-pic" src="sources/sunquest-horizontal.png"/><br/>

            <a class="job-title" href="https://www.sunquestinfo.com/">
                <span style="letter-spacing:1px; color: #9595ca;">
                    Sunquest Information Systems
                </span>
            </a>

            <br/>

            <img src="sources/job.png"/>
            <span class="job-place">Software Development Intern</span> 
            <img src="sources/calendar.png"/>
            <p class="date">May 2022 - Present</p>

            <br/>        
            <hr class="divider"/>
            
            <div class="roles">
              <p>∘ Work closely with an Agile team of backend developers via SCRUM rituals.</p>
              <p>∘ Utilize ASP.NET to develop REST API for Sunquest's <a href="https://www.sunquestinfo.com/software-and-services/vue/">VUE</a> web application.</p>
              <p>∘ Develop a HL7 message parser that scrapes needed data from JSON files.</p>
              <p>∘ Sort invalid billing codes from parsed data and populate databases to log.</p>
              <p>∘ Create backend automation tests for testing in C# and .NET Frameworks.</p>
            </div>
        </li>
        <li>
          <img class="company-pic" src="sources/osucoe-horizontal.png"/><br/>
          <a class="job-title" href="https://engineering.osu.edu">
              <span style="letter-spacing: 1px; color: #9595ca;">
                  Ohio State College of Engineering
              </span>
          </a>

          <br/>

          <img src="sources/job.png"/>
          <span class="job-place">Undergraduate Teaching Assistant</span> 
          <img src="sources/calendar.png"/>
          <p class="date">August 2021 - Present</p>

          <br/>        
          <hr class="divider"/>
          
          <div class="roles">
              <p>∘ UTA for CSE 1223: <a target="_blank" href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-1223.pdf"><i>Introduction to Computer Programming in Java</i></a>.</p>
              <p>∘ Attend all class labs and host 2-3 hours of weekly office hours. </p>
              <p>∘ Analyze Java codes to debug and provide guidance on how to proceed.</p>
              <p>∘ Grade weekly project assignments, provide feedback, and share useful tips.</p>
              <p>∘ Commmunicate with students regularly via email to answer questions.</p>
          </div>
        </li>
        <li>
          <img class="company-pic" src="sources/robintek.png"/><br/>
            <a class="job-title" href="https://www.robintek.com">
                <span style="letter-spacing: 1px; color: #9595ca;">
                    Robin Technologies
                </span>
            </a>  

            <br/>

            <img src="sources/job.png"/> 
            <span class="job-place">Front-End Development Intern</span>
            <img src="sources/calendar.png"/>
            <p class="date">May 2020 - August 2020</p> 

            <br/>
            <hr class="divider"/>

            <div class="roles">
                <p>∘ Worked with Full-Stack Engineers and UI/UX Designers on 20+ projects. </p>
                <p>∘ Utilized HTML/CSS to develop websites based on client specifications. </p>
                <p>∘ Analyzed and debugged errors in the codebase to produce efficient code. </p>
                <p>∘ Learned and practiced real-life application of web development processes.</p>
            </div>
        </li>
        

      
      </ul>
</div>
<br/>
<div class="skill-body" id="skill-sec">
    <ul>
      <h3 class="title" style="margin-top:-40px;margin-bottom:20px; margin-left: -10px;">🧠 Skills 🧠</h3>
      <li class="roles">
          <div class="skill-cont">
                <div>
                  <ul class="langs">
                    <li>
                      <img style="filter: invert(84%);" src="sources/java.gif"/><br/>
                      <p>Java</p>
                      <p><progress value="75" max="100"></progress></p>
                  </li>
                    <li>
                      <img src="sources/python.png"/><br/>
                      <p>Python</p>
                      <p><progress value="60" max="100"></progress></p>
  
                    </li>
                    <li>
                      <img src="sources/swift.png"/><br/>
                      <p>Swift</p>
                      <p><progress value="50" max="100"></progress></p>
                    </li>
                    <li>
                      <img src="sources/csharp.png"/><br/>
                      <p>C#</p>
                      <p><progress value="47" max="100"></progress></p>
                    </li>
                    <li>
                      <img src="sources/ruby.png"/><br/>
                      <p>Ruby</p>
                      <p><progress value="40" max="100"></progress></p>
                    </li>
                    
                    
                  </ul>
                </div>
                <br/>
            <div>
              <ul class="langs">
                <li>
                  <img src="sources/js.png"/><br/>
                  <p>JavaScript</p>
                  <p><progress value="68" max="100"></progress></p>
                </li>
                <li>
                  <img src="sources/html.gif"/><br/>
                    <p>HTML</p>
                    <p><progress value="50" max="100"></progress></p>
                </li>
                <li>
                  <img src="sources/css.gif"/><br/>
                      <p>CSS</p>
                      <p><progress value="48" max="100"></progress></p>
                </li>
                <li>
                  <img src="sources/django.png"/><br/>
                <p>Django</p>
                <p><progress value="38" max="100"></progress></p>
                </li>
                <li>
                  <img src="sources/ajs.png"/><br/>
                  <p>AngularJS</p>
                  <p><progress value="28" max="100"></progress></p>
                </li>
                <li>
                  <img src="sources/bootstrap.gif"/><br/>
                  <p>Bootstrap</p>
                  <p><progress value="25" max="100"></progress></p>
                </li>
                <li>
                  <img src="sources/rails.png"/><br/>
                  <p>Rails</p>
                  <p><progress value="20" max="100"></progress></p>
                </li>
              </ul>
              
            </div>
          </div>
          
        </div>  
      </li>
    </ul>
</div>
<!---
-->
<div style="margin-left: -3vw;" class="skill-body" id="course-sec">
  <ul>
    <h3 class="title" style="margin-left: 0px;margin-bottom: 20px; margin-top:-30px">🎓 Education 🎓</h3>
    
    <li class="roles" style="text-align: left;">
          <a class="job-title" href="https://www.osu.edu/">
              <span style="letter-spacing: 2px; font-size: 13px;color: #9595ca;">
                  The Ohio State University
              </span>
          </a>
  
          
          
          <br/>        
          <hr class="divider"/>
  
          <div class="roles">
              <p>∘ Major: Computer Science and Engineering </p>
              <p>∘ <a href="http://undergrad.osu.edu/cost-and-aid/merit-based-scholarships">Land Grant Scholarship</a> (Full Cost of Attendence)</p>
              </p>
          </div>
      <div ng-repeat="courses in courseList">
        <h4 style="letter-spacing: 1px; font-family: 'Kdam Thmor Pro', sans-serif; font-size: 10px;">
          {{ findCategory(courseList, courses) }}
        </h4>
        <hr class="divider"/>
        <p ng-repeat="course in courses">
          ∘ {{ course }}
        </p>
      </div>
    </li>
  </ul>
</div>
<br>
</body>
<script src="script.js"></script>
<script scr="app.js"></script>
</html>