<title>Jay Shin | Review</title>
<%= stylesheet_link_tag "hi", "data-turbo-track": "reload" %>
  <br/>

  <div class="bu">
    <h1 style="font-family: 'Tourney', cursive; color:#0a0a0a;">Thank you for visiting Jay's website!</h1>
    <ul>
      <li id="one">
        <p>"Jay Shin is the reason I got into Amazon." 
          <br/><br/>
          - Lucas Wingert, SDE Intern @ 
          <a href="https://www.amazon.com/">Amazon</a>
        </p>
      </li>
      <li id="two">
        <p>"이새끼는 코딩에 미쳤다."
          <br/><br/>
          - Jin Kim, Media Assistant @ 
          <a href="https://www.afcannarbor.com/">FC Ann Arbor</a>
        </p>
      </li>
    </ul>
  </div>
  </body>
</html>

  