
html {
  font-family: 'Pangolin', cursive;
    color: #2b2c2c;
    
    font-size: 100%;
}



a {
  text-decoration: none;
}


/* SHIFT */
.nav a {
    position:relative;
    z-index: 1;
    transition: 2s;
    
  }
  .nav a:hover {
    color: #91640F;
  }
  .nav a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
  }
  .nav a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  .nav a,
  .nav a:after,
  .nav a:before {
    transition: all .5s;
  }
  .nav a:hover {
    color: #555;
    color: #fff;
  z-index: 1;
  }


  
  .nav a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  .nav a:hover {
    color: #fff;
    z-index: 1;
  }
  .nav.a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }

.nav a:hover:after {
  width: 100%;
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.nav a {
  transition: all 2s;
}

.nav a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

.image-smaller img {
  width: 33px !important;
    height: 33px !important;

    margin-left: 0;
    margin-right: 0;
}

  

body {
    margin: 0;
    background-color: white;

}

.nav-container {
  text-align: center;
  margin-left: 35px;
}

.main-logo {
    width: 100px;
    height: 50px;
    
}

.nav{
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
    display: inline-block;

}

.nav a { 
  display: inline-block;
    padding: 20px 20px 21px;
    font-size: 20px;
    
}

.current {
    text-decoration: underline;
}

.nav a:link { 
    text-decoration: none;
    color: #222424;
    
}

.nav a:hover {
    text-decoration: underline;
}

.nav a:visited {
    text-decoration: none;
    color: #222424;
}



.headshot {
    width: 290px;
    height: 290px;
    padding-top: 0px;
     border: 5px solid #5b72b6;;
}

.pics img {
  border: 2px solid #5b72b6;;
}

.teul {
  border: 2px solid #5b72b6;;
}

.links img {
    width: 70px;
    height: 70px;
}
.links {
  margin-right: 38px;
    text-align: center;
}
 .links li {
    display: inline-block;
    list-style: none;
 }


 .contact-body {
    text-align: center;
 }

 .contact-body h3 {
     text-align: center;
 }

.resume-body {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.resume-body ul {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.resume-body li {
  margin-left: 0;
  list-style: none;
  padding: 2px 5px;
  margin-bottom: 10px;
}

 .resume-body img {
     width: 15px;
 }

 .resume-body a {
     text-decoration: none;
   
 }

.title-divider {
    width: 400px;

}

.divider {
  width: 670px;
}

.underline {
    width: 79px;
    margin-left: auto;
    margin-right: auto;
}

.roles p{
    margin: 0;
}

.roles a {
    color: #5b72b6;;;
}

.resume-body a:hover {
    text-decoration: underline;
}

.title {
    font-size: 30px;
    padding: 7px;
    text-align: center;
    margin:0 0;
    display: block;
    text-decoration: underline;
    text-decoration-color: #3b549f;;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
    padding-bottom: 0;
    padding-top: 20px;
}

.sub-title {
  margin:0 0;
    font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 17px;
  color: #45505b;
}

.job-title {
    color: #5b72b6;;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top:0;
    text-transform: uppercase;
}

.date {
    background: #f4ebf7;
    display: inline-block;
    margin-bottom: 0px;
  
}

.job-place {
    padding: 3px 3px;
    background: #eee4e4;
    display: inline-block;
    margin-bottom: 0px;
}





.category {
    text-transform: uppercase;
}

.skills li {
    float: left;
}

.skills p{
    margin-right: 10px;
}

.skills progress {
    width: 250px;
    height: 16px;
    border-radius: 1px; 
    padding-left: 5px;
    padding-right: 15px;
}

.skills img {
    width: 67px;
}

progress::-webkit-progress-value { background: #5b72b6;;}

progress {
    text-align: center;
    height: 1.5em;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    
    /* Set the progressbar to relative */
    position:relative;
  }
  progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;
    
    /*Position text over the progress bar */
    position:absolute;
    left:0;
    right:0;
  }
  progress::-webkit-progress-bar {
    background-color: #c9c9c9;
  }
  progress::-webkit-progress-value {
    background-color: #5b72b6;;
  }
  progress::-moz-progress-bar {
    background-color: #5b72b6;;
  }


  .proj {
      text-align: center;
      width:100%;

  }
  .proj ul{
      display: block;
      text-align: center;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0;
  }

  .proj li {
    padding: 20px 20px;
    list-style: none;
    display: inline-block;
  }

  .proj img {
      width: 430px;
      height: 430px;
  }

  .img__wrap {
    position: relative;
    height: 430px;
    width: 430px;

  }
  
  .img__description {
    width: 435px;
    height: 435px;
    transform: translateY(-16px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(230, 230, 230, 0.877);
    color: #000000;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    text-align: left;
    font-size: 15px;
  }

  
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description p {
    margin-left: 15px;
  }

  .img__description img {
    width: 20px;
    height: 20px;
  }

  .proj a {
      text-decoration: none;

      color: black;


  }

  .proj .link {
      margin-left: 190px;
      width: 50px;
      height: 50px;
  }



  .pics img{
    width: 270px;
    height: 270px;
  }

  .pics {
    margin-left: auto; 
  margin-right: auto;
  }

  .vid {
    text-align: center;
  }

  .container {
    text-align: center;
  }
  .container ul {
    display: inline-block;
    text-align: left;
  }


.container li {
  list-style: none;
  margin-left: 0;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(33%);
}

.job-place .job-title{
  font-weight: bold;
}