<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>

  </body>
</html>
